@font-face {
  font-family: Raleway;
  src: url(../fuentes/Raleway-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  box-sizing: border-box;
  transition: all ease .5s;
}

/* Header de las paginas */

header {
  width: 100%;
  background: #f8cd0d;
  height: 70px;
}

.header__nav{
    width: 100%;
 /* background: olive;*/
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}



.logo {
  text-decoration: none;
  color: tomato;
  font-size: 2rem;
  font-weight: bold;
  margin-block: auto;
  text-align: left;
  white-space: nowrap;
  font-family: sans-serif;
}

.slide_img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
  /*background: red;*/  

}

/* Nav de la pagina */

nav ul li {
  display: inline;
}

nav a {
  color: #FFFFFF;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Raleway;
}

nav a:hover {
  color: #ffffffd2;
}

/* Footer de la pagina */

.footer_content{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer__map{
  margin-left: 10px;
  width: 60%;
  height: 80%;
  border-radius: 10px;
  border: 2px solid #000000;
}
.footer__text{
  width: 40%;
  position: relative;
  height: 80%;
  align-items: center;
  margin-left: 10px;
  text-align: left;
  line-height: 2;
}

.footer__text h2{
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  font-family: Raleway;
  line-height: 2;
}

.copyrigth{
      text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 10px;

}

footer{
  background: #f8cd0d;
  width: 100%;
}